antlr4-python3-runtime==4.9.3
blinker==1.9.0
cffi==1.17.1
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
demucs==4.0.1
dora_search==0.1.12
einops==0.8.1
filelock==3.18.0
Flask==3.1.0
flask-cors==5.0.1
fsspec==2025.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
julius==0.2.7
lameenc==1.8.1
MarkupSafe==3.0.2
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.4
omegaconf==2.3.0
openunmix==1.3.0
pycparser==2.22
PyYAML==6.0.2
retrying==1.3.4
setuptools==78.1.1 # because of patch for CVE-2025-47273 
SimConnect==0.4.26
six==1.17.0
soundfile==0.13.1
submitit==1.5.2
sympy==1.13.1
torch==2.6.0
torchaudio==2.6.0
tqdm==4.67.1
treetable==0.2.5
typing_extensions==4.12.2
Werkzeug==3.1.3